* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #f4f4f4; }

ul {
  list-style-type: none; }

ul li a {
  text-decoration: none; }

button {
  padding: 1em; 
}

button.nav-item.nav-link {
    outline: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.card-img-top{
  background-size: contain !important;
  border: 5px solid white;
  box-sizing: content-box;
}
.cardBodyImage{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.card {
    border: 1px solid #bbb;
    margin-top: 8em;
    margin-bottom: 5em;
    padding: 1em;
}

.card-body {
    background: black;
    color: white;
}

.card-title a {
    text-decoration: none;
    color: white;
}

.card-text p, .card-title a, img.card-img-top {
    opacity: 0.9;
}
/*Base CSS Props*/
.textOverflow, .trackText .userName, .trackText .songTitle {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  font-size: 14px; }

.menuItem, .navbar .genreList .loginItem, .navbar .genreList .genreItem, .navbar .genreList .navItem {
  cursor: pointer;
  background-color: white;
  padding: 15px;
  border-left: 1px solid #E3E3E3;
  text-transform: uppercase;
  justify-content: center; }

/*Gallery Results Layout*/
@media(max-width: 790px){
.navbar {
  display: flex;
  flex-flow: row wrap;}

}
  .navbar .genreList {
    display: flex;
    flex-flow: row wrap; }
    .navbar .genreList .textInput {
      padding: 15px; }
.textInput {
    display: flex;
    position: fixed;
    top: 3.5em;
    z-index: 1029;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 0;
}

input[type="text"] {
    width: 100%;
    position: relative;
    text-align: center;
    padding: 0.5em;
}

button.btn.btn-primary {
    border-radius: 0;
}
  div#trackViewer {
    margin-top: 8em;
}
.trackGallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }
.trackGallery li{
  margin-right: 1em;
}
.trackDetails {
  width: 300px;
  height: auto;
  background: #FFFFFF;
  margin-bottom: 1em;
  position: relative;
  padding: 15px 10px 0px 10px;
  border: 1px solid #E3E3E3; }

.trackImg {
  display: block;
  width: 100%;
  height: 175px;
  margin-top: -5px;
  margin-bottom: 10px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #E3E3E3; }
  .trackImg .overlay {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: .5s all ease;
    opacity: 0; 
    font-size: 2em;
    color: white;
  }
    .trackImg .overlay .playIcon {
      font-size: 1.5em;
      color: #A6CFD5; }

.trackText {
  position: relative;
  margin-top: 22px;
  bottom: 1em; }
  .trackText .userAvatar {
    border-radius: 0%;
    width: 50px;
    display: block;
    margin-right: 10px;
    float: left; }
  .trackText .userName {
    color: #3381b7;
    padding-top: 1px; }
  .trackText .songTitle {
    color: black; }

/** Interactive Effects **/
.trackImg:hover {
  cursor: pointer; }

.userName:hover, .songTitle:hover {
  text-decoration: underline; }

.overlay:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition: .5s all ease;
  opacity: 1; }

.genreItem:hover {
  border-bottom: #0000cc; }

audio {
     width: 100%;
    bottom: 0em;
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0; }



/*# sourceMappingURL=search.css.map */
